//
// This file required pre defined colors
//  - $front_color: color use for normal text, border
//  - $back_color: color use for background
//  - $danger_color: color use for text of danger action
//

$info_color: $front_color;
$error_color: $danger_color;
$warning_color: $danger_color;

@import 'procesor';

@import 'com/text';
@import 'com/scrollbar';
@import 'com/checkbox';
@import 'com/popup';
@import 'com/switch';
@import 'com/button';
@import 'com/radii';
@import 'com/entry';
@import 'com/panel';
@import 'com/user-menu';
@import 'com/overview';
@import 'com/dash';
@import 'com/search-box';
@import 'com/search-result';
@import 'com/looking-glass';
@import 'com/calendar-popup';
@import 'com/message-tray';
@import 'com/osd';
@import 'com/workspace-switcher';
@import 'com/dialog';
@import 'com/slider'
