//
// CHECKBOXS
//

GtkCheckButton.text-button, GtkRadioButton.text-button {
  // this is for a nice focus on check and radios text
  padding: 1px;
  outline-offset: 0;
}


@each $w,$a in ('check', 'checkbox'),
               ('radio','radio') {
  .#{$w} {
    color: $fg_color;
    background-image: none;
    -gtk-icon-source: -gtk-icontheme('#{$a}-symbolic');
    &:hover { color: mix($fg_color, $bg_color, 80%) }
    &:checked, &:active {
      -gtk-icon-source: -gtk-icontheme('#{$a}-checked-symbolic');
      color: $fg_color;
      &:hover { color: mix($fg_color, $bg_color, 80%); }
      &:insensitive {
        color: $insensitive_fg_color;
        &:backdrop { color: $insensitive_fg_color; }
      }
      &:backdrop { color: $backdrop_fg_color; }
    }
    &:insensitive {
      color: $insensitive_fg_color;
      &:backdrop { color: $insensitive_fg_color; }
    }
    &:inconsistent {
      -gtk-icon-source: -gtk-icontheme('#{$a}-mixed-symbolic');
    }
    &:backdrop {
      color: $backdrop_fg_color;
      &:selected { color: $backdrop_fg_color; }
    }
  }
}
