//
// TREEVIEWS
//

column-header {
    .button {
        @extend %column_header_button;
        $_column_header_color: mix($fg_color,$base_color,50%);
        color: $_column_header_color;
        font-weight: bold;
        text-shadow: none;
        box-shadow: none;
        &:hover {
            @extend %column_header_button;
            color: mix($_column_header_color,$fg_color,50%);
            box-shadow: none;
        }
        &:active {
            @extend %column_header_button;
            color: $fg_color;
        }
    }
    &:last-child .button,
    &:last-child.button { //treeview-like derived widgets in Banshee and Evolution
        border-right-style: none;
    }
}

%column_header_button {
    border-width: 0 1px 1px 0;
    border-radius: 0;
    background-image: none;
    border-color: $bg_color;
    text-shadow: none;
    &:insensitive {
        border-color: $bg_color;
        background-image: none;
    }
    &:backdrop {
        border-color: $backdrop_bg_color;
        border-width: 0 1px 1px 0;
        color: mix($backdrop_fg_color, $backdrop_bg_color,50%);
        background-image: none;
        &:insensitive {
            border-color: $backdrop_bg_color;
            background-image: none;
        }
    }
}
GtkTreeView.view.progressbar { //Progressbar in treeview cells
    color: $base_color;
    border-radius: 0;
    &:selected {
        color: $selected_bg_color;
        &:backdrop {
            color: $selected_bg_color;
            background-image: none;
            background-color: $backdrop_base_color;
        }
    }
    &:backdrop {
        color: $backdrop_base_color;
        background-image: none;
    }
}
