//
// BUTTONS
//

.button {
	border-radius: 2px;
	border: none;
	margin-top: 0.5em;
	padding: 4px 32px;
	color: red;
	font-weight: bold;
	background-color: red;
	background-gradient-direction: none;
	background-gradient-start: red;
	background-gradient-end: red;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none; }
	.button:hover, .button:focus {
		color: red;
		border: none;
		background-color: red;
		background-gradient-direction: none;
		background-gradient-start: red;
		background-gradient-end: red;
		box-shadow: none;
		text-shadow: none;
		icon-shadow: none; }
	.button:insensitive {
		color: red;
		border: none;
		background-color: red;
		background-gradient-direction: none;
		box-shadow: none;
		text-shadow: none;
		icon-shadow: none; }
	.button:active {
		color: #fff;
		border: none;
		background-color: red;
		background-gradient-direction: none;
		background-gradient-start: red;
		background-gradient-end: red;
		box-shadow: none;
		text-shadow: none;
		icon-shadow: none; }


.candidate-page-button,
.notification-button,
.notification-icon-button,
.hotplug-notification-item,
.hotplug-resident-eject-button,
.modal-dialog-button,
.app-view-control {
    border: 1px solid border_color($front_color);
    background-gradient-direction: vertical;
    background-gradient-start: $back_color;
    background-gradient-end: $back_color;
}

.modal-dialog-button {
    font-weight: bold;
}

.candidate-page-button:hover,
.notification-button:hover,
.notification-icon-button:hover,
.hotplug-notification-item:hover,
.hotplug-resident-eject-button:hover,
.modal-dialog-button:hover {
    color: hover_fg_color($front_color);
    background-gradient-start: hover_bg_color($front_color);
    background-gradient-end: hover_bg_color($front_color);
    border-color: hover_border_color($front_color);
}

.notification-button:focus,
.notification-icon-button:focus,
.hotplug-notification-item:focus,
.modal-dialog-button:focus,
.app-view-control:focus {
    color: focus_fg_color($front_color);
    background-gradient-start: focus_bg_color($front_color);
    background-gradient-end: focus_bg_color($front_color);
    border-color: focus_border_color($front_color);
}

.app-view-control:focus {
    padding: 3px;
}

.app-view-control:first-child:ltr:focus,
.app-view-control:last-child:rtl:focus {
    border-right-width: 1px;
}

.candidate-page-button:active,
.candidate-page-button:pressed,
.notification-button:active,
.notification-icon-button:active,
.hotplug-notification-item:active,
.hotplug-resident-eject-button:active,
.modal-dialog-button:active,
.modal-dialog-button:pressed,
.app-view-control:checked {
    color: active_fg_color($front_color);
    background-gradient-start: active_bg_color($front_color);
    background-gradient-end: active_bg_color($front_color);
    border-color: active_border_color($front_color);
}

.candidate-page-button:insensitive,
.notification-button:insensitive,
.notification-icon-button:insensitive,
.modal-dialog-button:insensitive {
    color: disabled_fg_color($front_color);
    background: $back_color;
    border-color: disabled_border_color($front_color);
}
