//
// CHECKBOXS
//

.check-box ShellGenericContainer {
    spacing: .8em;
}

.check-box StBin {
    width: 24px;
    height: 22px;
    background-image: url("asset/checkbox-off.png");
}

.check-box:focus StBin {
    background-image: url("asset/checkbox-off-focused.png");
}

.check-box:checked StBin {
    background-image: url("asset/checkbox.png");
}

.check-box:focus:checked StBin {
    background-image: url("asset/checkbox-focused.png");
}
