//
// OSD
//

.osd-window {
    text-align: center;
    font-weight: bold;
    spacing: 1em;
}

.osd-window .level {
    height: 0.6em;
    border-radius: 0.3em;
    background-color: $back_color;
}

/* App Switcher */
.switcher-popup {
    padding: 8px;
    spacing: 16px;
}

.osd-window,
.switcher-list {
    background: $back_color;
    border: 1px solid border_color($front_color);
    border-radius: 0px;
    padding: 20px;
}

.switcher-list-item-container {
    spacing: 8px;
}

.thumbnail-scroll-gradient-left,
.thumbnail-scroll-gradient-right {
    width: 60px;
}

.switcher-list .item-box {
    padding: 8px;
    border-radius: 0px;
}

.switcher-list .item-box:outlined {
    padding: 6px;
    border: 2px solid border_color($front_color);
}

.switcher-list .item-box:selected {
    color: active_fg_color($front_color);
    background: active_bg_color($front_color);
}

.switcher-list .thumbnail-box {
    padding: 2px;
    spacing: 4px;
}

.switcher-list .thumbnail {
    width:  256px;
}

.switcher-list .separator {
    width: 1px;
    background: $front_color;
}

.ripple-box {
    width: 52px;
    height: 52px;
    background-size: contain;
}

.ripple-box:rtl {
}

.switcher-arrow {
    border-color: border_color($front_color);
    color: $front_color;
}

.switcher-arrow:highlighted {
    border-color: hover_border_color($front_color);
    color: hover_fg_color($front_color);
}
