//
// SEARCH BOX
//

.search-entry {
    width: 320px;
    font-size: 1.2em;
    font-weight: normal;
    color: $front_color;
    border: 1px solid border_color($front_color);
    border-radius: 0;
    box-shadow: none;
    background-gradient-direction: vertical;
    background-gradient-start: $back_color;
    background-gradient-end: $back_color;
}

.search-entry-icon {
    icon-size: 1.6em;
    padding: 4px;
    color: $front_color;
}

#searchEntry:hover .search-entry-icon,
#searchEntry:focus .search-entry-icon {
    color: focus_fg_color($front_color);
    border: 1px solid focus_border_color($front_color);
    background-gradient-direction: vertical;
    background-gradient-start: focus_bg_color($front_color);
    background-gradient-end: focus_bg_color($front_color);
}
