//
// TEXT
//

/* default text style */
stage {
    font-family: monospace;
    font-size: 1em;
    color: $front_color;
}

/* links */
.shell-link {
    color: $front_color;
    text-decoration: underline;
}

.shell-link:hover {
    color: lighten($front_color, 10%);
}

/* small */
.app-well-menu,
.run-dialog-error-label {
    font-size: 9pt;
}

/* small bold */
.dash-label,
.window-caption,
.switcher-list,
.app-well-app > .overview-icon,
.show-apps > .overview-icon,
.grid-search-result .overview-icon {
    font-size: 9pt;
    font-weight: bold;
}
