//
// USER MENUS
//

#panelUserMenu {
    spacing: 4px;
}

.status-chooser {
    spacing: .4em;
}

.status-chooser .popup-menu-item,
.status-chooser-combo .popup-menu-item {
    padding: .4em;
}

.status-chooser-user-icon {
    background-size: contain;
    border: 1px solid border_color($front_color);
    border-radius: 0px;
    width: 48pt;
    height: 48pt;
}

.status-chooser-user-icon:hover {
    border: 1px solid hover_border_color($front_color);
}

.status-chooser-user-name {
    font-weight: bold;
    font-size: 1.3em;
    min-width: 120pt;
}

.status-chooser-combo {
    border: 1px solid red;
}

.status-chooser-combo.popup-combo-menu {
    background-color: $back_color;
    padding: .4em 0em;
    border-radius: 0px;
    border: 1px solid border_color($front_color);
    color: $front_color;
    font-size: 10.5pt;
}

.status-chooser-status-item,
.status-chooser-combo .popup-combobox-item {
    spacing: .4em;
}

.system-status-icon {
    icon-size: 1.09em;
}
