//
// PANDED
//

GtkPaned {
  // This is actually the invisible area of the paned separator, not a margin...
  margin: 0 8px 8px 0; //drag area of the separator
  &:dir(rtl) {
    margin-right: 0;
    margin-left: 8px;
  }
}

.pane-separator {
  //FIXME abusing a background-image to get rid of the handle decoration
  //I'd like something better...
  background-image: linear-gradient(to bottom, $borders_color);
  &:backdrop {
    background-image: linear-gradient(to bottom, $backdrop_borders_color);
  }
}

GtkPaned.wide { // this is for the paned with wide separator
  -GtkPaned-handle-size: 5; // wider separator here
  margin: 0; // no need of the invisible drag area so, reset margin
  .pane-separator {
    background-color: transparent;
    border-style: none solid;
    border-color: $borders_color;
    border-width: 1px;
  }
  &.vertical .pane-separator { border-style: solid none;}
  .pane-separator:backdrop { border-color: $backdrop_borders_color; }
}
