//
// SCALES
//

.scale,
.scale.scale-has-marks-above.scale-has-marks-below,
.scale.vertical.scale-has-marks-above.scale-has-marks-below {
  -GtkScale-slider-length: 20;
  -GtkRange-slider-width: 20;
  -GtkRange-trough-border: 2;
  outline-offset: -9px;
  outline-radius: 0;

  &.fine-tune {
    outline-offset: -7px;
    outline-radius: 6px;
    &.trough {
      border-radius: 0;
      margin: 8px;
    }
  }
  &.slider {
    //FIXME: better gradient on the slider and hover state
    @include button(normal, normal, normal);
    border-radius: 0;
    border-color: darken($borders_color,3%);
    &:hover {
      @include button(normal, normal, hover);
      border-color: darken($borders_color,3%);
      border-radius: 0; // needed for double marks scales
    }
    &:insensitive {
      border-style: solid; // needed for double marks scales or they'll get
      border-radius: 0;  // overridden
      background-image: none;
      box-shadow: none;
    }
    &:backdrop {
      border-style: solid; // needed for double marks scales or they'll get
      border-radius: 0%;  // overridden
      border-color: darken($backdrop_borders_color,3%);
      background-image: none;
      box-shadow: none;
    }
    &:backdrop:insensitive { @include button(normal, disabled, normal);}
    &:active {
      border: 1px solid darken($selected_borders_color,3%);
    }
  }
  &.trough {
    margin: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    border-color: $borders_color;
    background-color: mix($bg_color,$borders_color,60%);
    box-shadow: inset 1px 1px transparentize(black, 0.9);
    &.highlight {
      border-color: $fg_color;
      background-color: $fg_color;
      &:backdrop {
         border-color: $selected_bg_color;
         background-color: desaturate($success_color,100%);
         box-shadow: none;
      }
    }
    &:insensitive, &.hilight:insensitive {
      border-color: $insensitive_borders_color;
      background-color: $insensitive_bg_color;
    }
    &:backdrop {
      border-color: $backdrop_borders_color;
      background-color: mix($backdrop_bg_color,$borders_color);
      box-shadow: none;
    }
    &:backdrop:insensitive, .hilight:backdrop:insensitive {
      border-color: $insensitive_fg_color;
      background-color: $backdrop_bg_color;
    }
  }
}

//FIXME: scale sliders

%scale_marks_above_horz {
  .trough { margin: 14px 10px 10px; }
  &.fine-tune .trough { margin: 12px 8px 8px; }
}
%scale_marks_below_horz {
  .trough { margin: 10px 10px 14px; }
  &.fine-tune .trough { margin: 8px 8px 12px; }
}
%scale_marks_above_vert {
  .trough { margin: 10px 10px 10px 14px; }
  &.fine-tune .trough { margin: 8px 8px 8px 12px; }
}
%scale_marks_below_vert {
  .trough { margin: 10px 14px 10px 10px; }
  &.fine-tune .trough { margin: 8px 12px 8px 8px; }
}
