//
// ORIGINAL COLORS FOR BLACK ON WHITE THEME
//

$front_color:                   #000000;
$back_color:                    #ffffff;

$info_color:                    $front_color;
$warning_color:                 orange;
$danger_color:                  orange;
$error_color:                   red;
