//
// ORIGINAL COLORS FOR GREEN ON BLACK THEME
//

$front_color:                   #55af66;
$back_color:                    #000000;

$info_color:                    $front_color;
$warning_color:                 orange;
$danger_color:                  orange;
$error_color:                   red;
